/* prettier-ignore */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Satoshi Variable";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    font-feature-settings:
      "clig" off,
      "liga" off;
    src:
      url("../fonts/Satoshi-Variable.woff2") format("woff2"),
      url("../fonts/Satoshi-Variable.woff") format("woff"),
      url("../fonts/Satoshi-Variable.ttf") format("truetype");
  }
}
