.window-header {
  padding: 14px 20px;
  border-bottom: rgba(0, 0, 0, 0.1) 1px solid;
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.window-header-title {
  max-width: calc(100% - 100px);
  overflow: hidden;

  @media screen and (max-width: 600px) {
      text-align: center;
    }

  .window-header-main-title {
    font-size: 20px;
    font-weight: bolder;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    max-width: 50vw;
  }

  .window-header-sub-title {
    font-size: 14px;
    margin-top: 5px;
  }
}

.window-actions {
  display: inline-flex;
}

// for settings, preset masks ...
.window-action-button {
  margin-left: 10px;
}

// for chat
.window-action-button-ml {
  margin-left: 10px;
}

.window-action-button-mr {
  margin-right: 10px;
}

.window-action-button-mb {
  margin-bottom: 10px;
}
