.DS_Store
.env
.env*.local
.idea
.pnp.js
.pnpm-debug.log*
.vercel
*.key
*.key.pub
*.pem
*.tsbuildinfo
/.next/
/.pnp
/build
/coverage
/node_modules
/out/
dev
next-env.d.ts
npm-debug.log*
yarn-debug.log*
yarn-error.log*