# if you located in China, you can use taobao registry to speed up.
# You can also specify your own private npm registry, which will be effective in local development, deployment, and Docker environments.

# registry=https://registry.npmmirror.com/
