/* QuestionComponent.module.css */

.navButton {
  background: none;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-weight: bold;
  color: #555;
}

.questionNav {
  display: flex;
  gap: 10px;
}

.questionText {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.questionText:hover {
  cursor: pointer; /* 改变鼠标样式 */
  color: blue; /* 可选: 改变文字颜色 */
  /* 你可以添加更多样式来指示可编辑性 */
}

.inputField {
  margin-bottom: 20px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.timer {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.button {
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.submitButton {
  background-color: #4CAF50; /* Green */
  color: white;
}

.retryButton {
  background-color: #f44336; /* Red */
  color: white;
}

.chat-input-words {
  text-align: right;
  opacity: 0.5;
  font-size: 14px;
}


/* CapsuleButton.css */

.capsuleButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em 1em; /* adjust padding as needed */
  font-size: 1rem; /* adjust font size as needed */
  border: none;
  background-color: #f0f0f0; /* adjust background color as needed */
  color: #333; /* adjust text color as needed */
  border-radius: 9999px; /* this gives the pill shape */
  cursor: pointer;
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* adjust shadow as needed */
  border: 1px solid #ccc; /* optional border */
  user-select: none; /* prevent text selection */

  .capsuleArrow {
    font-weight: bold;
    user-select: none;
  }
  
  .capsuleLeft {
    margin-right: 0.5em;
  }
  
  .capsuleRight {
    margin-left: 0.5em;
  }

}

.capsuleButton:hover {
  background-color: #e8e8e8; /* adjust hover color as needed */
}