.chat-input-panel-noborder {
  position: relative;
  width: 100%;
  padding: 0px 20px; // 设置元素的内边距。上下内边距=0像素，左右内边距=20像素。
  box-sizing: border-box;
  flex-direction: column;

  .chat-input-panel-title {
    font-size: medium;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 10px;
  }

  .chat-input-panel-textarea {
    display: flex;
    flex: 1;
  }
}

.chat-input-name-group {
  @extend .chat-input-panel-noborder;
  display: flex;
  flex-direction: row;
  width: 50%;
}



.chat-input-speaker {
  cursor: pointer;
  color: blue;
  &:hover {
    text-decoration: underline;
  }
}


.chat-input-send-record {
  background-color: gray;
  color: white;
  position: absolute;
  right: 30px;
  bottom: 20px;
}

.chat-input-send-recording {
  @extend .chat-input-send-record;
  background-color: red;
}

.chat-input-words {
  position: absolute;
  right: 30px;
  top: 8px;
  opacity: 0.2;
  font-size: 14px;
}


.chat-input-panel-buttons {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  // margin-top: 10px;
  border-bottom: var(--border-in-light);
}

.chat-input-button-submit {
  @extend .chat-input-send-record;
  position: unset;
  background-color: var(--primary);
}

.chat-input-button-submitting {
  @extend .chat-input-send-record;
  position: unset;
  background-color: red;
  border: blue 2px solid;
}

.chat-input-button-add-row {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;

  .chat-input-button-add {
    border: #ddd 2px solid;
  }
}

.table-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 10px;
}


.table-border {
  border: 2px solid #ddd;

  .table-header {
    font-weight: bold;
    font-size: medium;
  }
}

.table-actions {
  display: flex;
  flex-direction: row;
}