.chat-input-panel-noborder {
  position: relative;
  width: 100%;
  padding: 0px 20px; // 设置元素的内边距。上下内边距=0像素，左右内边距=20像素。
  box-sizing: border-box;
  flex-direction: column;

  .chat-input-panel-title {
    font-size: medium;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 10px;
  }

  .chat-input-panel-textarea {
    position: relative;
    display: flex;
    flex: 1;
  }
}

.chat-input-name-group {
  @extend .chat-input-panel-noborder;
  display: flex;
  flex-direction: row;
  width: 50%;
}



.chat-input-speaker {
  cursor: pointer;
  color: blue;
  &:hover {
    text-decoration: underline;
  }
}


.chat-input-send-record {
  background-color: gray;
  color: white;
  position: absolute;
  right: 30px;
  bottom: 20px;
}

.chat-input-send-recording {
  @extend .chat-input-send-record;
  background-color: red;
}

.chat-input-words {
  position: absolute;
  right: 30px;
  top: -20px;
  opacity: 0.2;
  font-size: 14px;
}


.chat-input-panel-buttons {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  // margin-top: 10px;
  // border-bottom: var(--border-in-light);

  /* styles.css */
  .selection-tooltip {
    font-size: 20px; /* 调整悬浮提示文字的大小 */
    background-color: azure
    color(srgb red green blue)
    /* 添加其他样式属性，如颜色、字体等，根据需要自定义 */
  }
}

.chat-input-panel-buttons-column {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .item-radio-button {
    padding-left: 10px
  }
}

.chat-input-button-submit {
  @extend .chat-input-send-record;
  position: unset;
  background-color: var(--primary);
}

.chat-input-button-submitting {
  @extend .chat-input-send-record;
  position: unset;
  background-color: red;
  border: blue 2px solid;
}

.chat-input-button-add-row {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;

  .chat-input-button-add {
    border: #ddd 2px solid;
  }
}

.table-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 10px;
}


.table-border {
  border: 2px solid #ddd;
  // padding: 0px 20px;
  // margin: 0px 20px;

  .table-header {
    font-weight: bold;
    font-size: medium;
  }
}

.table-actions {
  display: flex;
  flex-direction: row;
}

.video-container {
  display: flex;
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  flex-direction: column;
}


.settings-role-words {
  display: flex;
  // justify-content: space-around;
  flex-direction: column;

  .settings-role-words-item {
    display: flex;
    // justify-content: space-around;
    flex-direction: row;
    // margin-bottom: 10px;
  }
}

