@tailwind base;
@tailwind components;
@tailwind utilities;


.signin input[type=text] {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.signin hr {
  text-align: center;
  border: 0;
  border-top: 1px solid var(--color-separator);
  display: block;
  margin: 1rem auto 1rem;
  overflow: visible
}

.signin hr:before {
  background: var(--color-background-card);
  color: #888;
  content: "or";
  padding: 0 .4rem;
  position: relative;
  top: -.7rem
}

.signin .error {
  background: #f5f5f5;
  background: var(--color-error);
  border-radius: .3rem;
  font-weight: 500
}

.signin .error p {
  color: var(--color-info-text);
  font-size: .9rem;
  line-height: 1.2rem;
  padding: .5rem 1rem;
  text-align: left
}

.signin form,.signin>div {
  display: block
}

.signin form input[type],.signin>div input[type] {
  //margin-bottom: .5rem
}

.signin form button,.signin>div button {
  width: 100%
}

.signin .provider+.provider {
  margin-top: 1rem
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container1 {
  height: 100%;
  background: linear-gradient(to right, #fbc2eb, #a6c1ee);
}

.login-form {
  background-color: #fff;
  width: 350px;
  height: 550px;
  border-radius: 15px;

  /* 定位到中心 */
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* 毛玻璃 */
  backdrop-filter: blur(10px); /* 应用模糊效果 */
  background-color: rgba(255, 255, 255, 0.5); /* 半透明的白色背景 */
}

input {
  text-align: left !important
}

#login-form input:-webkit-autofill {
  transition: background-color 5000s ease-in-out 0s;
}
