

.authing-box{
  width: 100%;
}
.authing-ant-row {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  max-width:400px;
  flex: 1;
  position: relative;
}

.authing-ant-form-item {
  padding: 0;
  font-size: 14px;
  margin:0 auto 24px;
  vertical-align: top;
  width: 100%;
  border: var(--border-in-light);
  border-radius: 10px;
  box-shadow: var(--card-shadow);
  background-color: var(--gray);
}

.authing-ant-form-item-control-input {
  height: 38px;
  padding-left: 18px;
  border-radius: 14px;
  width: 100%;
  background-color: var(--gray);
  border:none;
  text-align: left;
  color: var(--black);
  resize: none;
  outline: none;
}

.authing-ant-form-item-control-input:focus {
  border: 1px solid var(--primary);
}

.verify-btn {
  position: absolute;
  right: -1px;
  bottom: 0;
  height: 40px;
}

.authing-guard-form-submit-btn{
  width: 80px;
  background-color: var(--primary);
  color: white;
}
