.icon-button {
  position: relative;
  background-color: var(--white);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  overflow: hidden;
  user-select: none;
  outline: none;
  border: none;
  color: var(--black);

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.25) 0%, transparent 50%);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
  }

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &.primary {
    background-color: var(--primary);
    color: white;

    path {
      fill: white !important;
    }
  }
}

.shadow {
  box-shadow: var(--card-shadow);
}

.border {
  border: var(--border-in-light);
}

.icon-button:hover {
  border-color: var(--primary);

  &:after {
    opacity: 1;
    animation: glowWave 2s infinite ease;
  }
}

@keyframes glowWave {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(2);
    opacity: 0.5;
  }
  100% {
    transform: scale(0.5);
    opacity: 0;
  }
}

.icon-button-icon {
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .icon-button {
    padding: 16px;
  }
}

.icon-button-text {
  margin-left: 5px;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
