@import "../styles/animation.scss";

:root {
  --primary-color: #3c3c3c;
  --secondary-color: #e0e0e0;
  --background: #f5f5f5;
  --card-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  --border-in-light: 1px solid #e0e0e0;
  --animation-duration: 0.4s;
}

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

.chat-input-actions {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
}

.chat-input-action {
  display: inline-flex;
  align-items: center;
  border-radius: 25px;
  font-size: 12px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: var(--border-in-light);
  padding: 6px 15px;
  animation: slide-in var(--animation-duration) ease;
  box-shadow: var(--card-shadow);
  transition: all 0.3s ease;
  margin-bottom: 10px;
  cursor: pointer;

  &:not(:last-child) {
    margin-right: 5px;
  }

  &:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    transform: translateY(-2px);
    box-shadow: 0 6px 12
