.prompt-toast {
  position: absolute;
  bottom: -50px;
  z-index: 999;
  display: flex;
  justify-content: center;
  width: calc(100% - 40px);

  .prompt-toast-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    background-color: var(--white);
    color: var(--black);

    border: var(--border-in-light);
    box-shadow: var(--card-shadow);
    padding: 10px 20px;
    border-radius: 100px;

    .prompt-toast-content {
      margin-left: 10px;
    }
  }
}

.context-prompt {
  .context-prompt-row {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;

    .context-role {
      margin-right: 10px;
    }

    .context-content {
      flex: 1;
      max-width: 100%;
      text-align: left;
    }

    .context-delete-button {
      margin-left: 10px;
    }
  }

  .context-prompt-button {
    flex: 1;
  }
}

.memory-prompt {
  margin-top: 20px;

  .memory-prompt-title {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .memory-prompt-content {
    background-color: var(--gray);
    border-radius: 6px;
    padding: 10px;
    font-size: 12px;
    user-select: text;
  }
}
