@import "../styles/animation.scss";

.chat-input-actions {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;

  .chat-input-action {
    display: inline-flex;
    border-radius: 20px;
    font-size: 12px;
    background-color: var(--white);
    color: var(--black);
    border: var(--border-in-light);
    padding: 4px 10px;
    animation: slide-in ease 0.3s;
    box-shadow: var(--card-shadow);
    transition: all ease 0.3s;
    align-items: center;
    height: 16px;
    width: var(--icon-width);

    &:not(:last-child) {
      margin-right: 5px;
    }

    .text {
      white-space: nowrap;
      padding-left: 5px;
      opacity: 0;
      transform: translateX(-5px);
      transition: all ease 0.3s;
      transition-delay: 0.1s;
      pointer-events: none;
    }

    &:hover {
      width: var(--full-width);

      .text {
        opacity: 1;
        transform: translate(0);
      }
    }

    .text,
    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.prompt-toast {
  position: absolute;
  bottom: -50px;
  z-index: 999;
  display: flex;
  justify-content: center;
  width: calc(100% - 40px);

  .prompt-toast-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    background-color: var(--white);
    color: var(--black);

    border: var(--border-in-light);
    box-shadow: var(--card-shadow);
    padding: 10px 20px;
    border-radius: 100px;

    animation: slide-in-from-top ease 0.3s;

    .prompt-toast-content {
      margin-left: 10px;
    }
  }
}

.section-title {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .section-title-action {
    display: flex;
    align-items: center;
  }
}

.context-prompt {
  .context-prompt-row {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;

    .context-role {
      margin-right: 10px;
    }

    .context-content {
      flex: 1;
      max-width: 100%;
      text-align: left;
    }

    .context-delete-button {
      margin-left: 10px;
    }
  }

  .context-prompt-button {
    flex: 1;
  }
}

.memory-prompt {
  margin: 20px 0;

  .memory-prompt-content {
    background-color: var(--white);
    color: var(--black);
    border: var(--border-in-light);
    border-radius: 10px;
    padding: 10px;
    font-size: 12px;
    user-select: text;
  }
}

.clear-context {
  margin: 20px 0 0 0;
  padding: 4px 0;

  border-top: var(--border-in-light);
  border-bottom: var(--border-in-light);
  box-shadow: var(--card-shadow) inset;

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--black);
  transition: all ease 0.3s;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  font-size: 12px;

  animation: slide-in ease 0.3s;

  $linear: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
  );
  mask-image: $linear;

  @mixin show {
    transform: translateY(0);
    position: relative;
    transition: all ease 0.3s;
    opacity: 1;
  }

  @mixin hide {
    transform: translateY(-50%);
    position: absolute;
    transition: all ease 0.1s;
    opacity: 0;
  }

  &-tips {
    @include show;
    opacity: 0.5;
  }

  &-revert-btn {
    color: var(--primary);
    @include hide;
  }

  &:hover {
    opacity: 1;
    border-color: var(--primary);

    .clear-context-tips {
      @include hide;
    }

    .clear-context-revert-btn {
      @include show;
    }
  }
}

.chat {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
}

.chat-body {
  flex: 1;
  overflow: auto;
  padding: 20px;
  padding-bottom: 40px;
  position: relative;
  overscroll-behavior: none;
}

.chat-body-title {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.chat-message {
  display: flex;
  flex-direction: row;

  &:last-child {
    animation: slide-in ease 0.3s;
  }
}

.chat-message-user {
  display: flex;
  flex-direction: row-reverse;
}

.chat-message-container {
  max-width: var(--message-max-width);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.chat-message-user > .chat-message-container {
  align-items: flex-end;
}

.chat-message-avatar {
  margin-top: 20px;
}

.chat-message-status {
  font-size: 12px;
  color: #aaa;
  line-height: 1.5;
  margin-top: 5px;
}

.chat-message-item {
  box-sizing: border-box;
  max-width: 100%;
  margin-top: 10px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 10px;
  font-size: 14px;
  user-select: text;
  word-break: break-word;
  border: var(--border-in-light);
  position: relative;
  transition: all ease 0.3s;
  min-width: 0;

  &:hover {
    min-width: 300px;

    .chat-message-actions {
      height: 40px;
      opacity: 1;
      transform: translateY(0px);
    }
  }

  .chat-message-actions {
    display: flex;
    width: 100%;
    padding-top: 5px;
    box-sizing: border-box;
    font-size: 12px;
    align-items: flex-end;
    justify-content: space-between;
    transition: all ease 0.3s;
    transform: translateY(10px);
    opacity: 0;
    height: 0;
  }

  .chat-message-action-date {
    color: var(--black);
    opacity: 0.3;
  }
}

.chat-message-user > .chat-message-container > .chat-message-item {
  background-color: var(--second);

  &:hover {
    min-width: 0;
  }
}

.chat-input-panel {
  position: relative;
  width: 100%;
  padding: 20px;
  padding-top: 10px;
  box-sizing: border-box;
  flex-direction: column;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top: var(--border-in-light);
  box-shadow: var(--card-shadow);
}

@mixin single-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.prompt-hints {
  min-height: 20px;
  width: 100%;
  max-height: 50vh;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;

  background-color: var(--white);
  border: var(--border-in-light);
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: var(--shadow);

  .prompt-hint {
    color: var(--black);
    padding: 6px 10px;
    animation: slide-in ease 0.3s;
    cursor: pointer;
    transition: all ease 0.3s;
    border: transparent 1px solid;
    margin: 4px;
    border-radius: 8px;

    &:not(:last-child) {
      margin-top: 0;
    }

    .hint-title {
      font-size: 12px;
      font-weight: bolder;

      @include single-line();
    }
    .hint-content {
      font-size: 12px;

      @include single-line();
    }

    &-selected,
    &:hover {
      border-color: var(--primary);
    }
  }
}

.chat-input-panel-inner {
  display: flex;
  flex: 1;
}

.chat-input {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  border: var(--border-in-light);
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.03);
  background-color: var(--white);
  color: var(--black);
  font-family: inherit;
  padding: 10px 90px 10px 14px;
  resize: none;
  outline: none;
}

.chat-input:focus {
  border: 1px solid var(--primary);
}

.chat-input-send {
  background-color: var(--primary);
  color: white;

  position: absolute;
  right: 30px;
  bottom: 32px;
}

@media only screen and (max-width: 600px) {
  .chat-input {
    font-size: 16px;
  }

  .chat-input-send {
    bottom: 30px;
  }
}
