$defaultWhite: #fff;
$defaultBlack: #000;
$secondary-4-default: #ede8d7;

.employeeCard {
  background-color: $defaultWhite;
  padding-inline: 2rem;
  min-width: 17.5rem;
  max-width: 20rem;
  height: 13.625rem;

  border-radius: 1.1875rem;
  border: 1px solid $secondary-4-default;
  background: $defaultWhite;
  box-shadow: 0px 4px 36px 0px rgba(0, 0, 0, 0.05);

  display: flex;
  gap: 2.25rem;
  align-items: center;
  justify-content: space-between;

  transition: 0.3s all ease;

  &:hover {
    border-color: var(--primary);
  }

  & img {
    clip-path: path(
      "M62.7095 122.491C79.3999 120.373 89.1335 104.694 98.8886 90.9863C107.689 78.6204 115.827 65.4958 113.994 50.4292C111.902 33.2438 103.808 16.5905 88.7864 7.98519C72.5179 -1.33419 52.3514 -2.58422 35.3877 5.40009C18.2518 13.4654 7.1039 30.017 2.79422 48.4592C-1.54576 67.0311 0.836873 87.0825 12.8353 101.908C24.739 116.616 43.9383 124.873 62.7095 122.491Z"
    );
  }

  & h2 {
    color: $defaultBlack;
    font-family: Recoleta;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
  }

  & p {
    color: $defaultBlack;
    font-family: Graphik;
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 300;
  }
}
