@import"https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap";
@import"https://fonts.googleapis.com/icon?family=Material+Icons";

.container {
  background-color: var(--white);
  border: var(--border-in-light);
  border-radius: 20px;
  box-shadow: var(--shadow);
  color: var(--black);
  background-color: var(--white);
  min-width: 600px;
  min-height: 480px;
  max-width: 1200px;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  width: var(--window-width);
  height: var(--window-height);
}

@media only screen and (min-width: 600px) {
  .tight-container {
    --window-width: 100vw;
    --window-height: var(--full-height);
    --window-content-width: calc(100% - var(--sidebar-width));
    background-color: var(--white);
    border: var(--border-in-light);
    border-radius: 20px;
    box-shadow: var(--shadow);
    color: var(--black);
    background-color: var(--white);
    min-width: 600px;
    min-height: 480px;
    max-width: 1200px;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    width: var(--window-width);
    height: var(--window-height);
    max-width: 100vw;
    max-height: var(--full-height);
    border-radius: 0;
    border: 0;
  }
}

@keyframes slide-in {
  from {
    transform: translateY(-50%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

.sidebar {
  top: 0;
  width: var(--sidebar-width);
  box-sizing: border-box;
  padding: 20px;
  background-color: var(--second);
  display: flex;
  flex-direction: column;
  box-shadow: inset -2px 0px 2px 0px rgba(0, 0, 0, .05);
  position: relative;
  transition: width ease .05s;
}

.sidebar-header-bar {
  display: flex;
  margin-bottom: 20px;
  animation: slide-in .3s ease;
}

.sidebar-header-bar .sidebar-bar-button {
  flex-grow: 1;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  font-size: 24px;
  color: var(--primary);
  cursor: pointer;
  transition: color .3s ease;
}

.sidebar-header-bar .sidebar-bar-button:not(:last-child) {
  margin-right: 10px;
}
