@mixin container {
  background-color: var(--white);
  border: var(--border-in-light);
  border-radius: 20px;
  box-shadow: var(--shadow);
  color: var(--black);
  background-color: var(--white);
  min-width: 600px;
  min-height: 480px;
  max-width: 1200px;

  display: flex;
  overflow: hidden;
  box-sizing: border-box;

  width: var(--window-width);
  height: var(--window-height);
}

.container {
  @include container();
}

@media only screen and (min-width: 600px) {
  .tight-container {
    --window-width: 100vw;
    --window-height: var(--full-height);
    --window-content-width: calc(100% - var(--sidebar-width));

    @include container();

    max-width: 100vw;
    max-height: var(--full-height);

    border-radius: 0;
    border: 0;
  }
}

.sidebar {
  top: 0;
  width: var(--sidebar-width);
  box-sizing: border-box;
  padding: 20px;
  background-color: var(--second);
  display: flex;
  flex-direction: column;
  box-shadow: inset -2px 0px 2px 0px rgb(0, 0, 0, 0.05);
  position: relative;
  transition: width ease 0.05s;

  .sidebar-header-bar {
    display: flex;
    margin-bottom: 20px;

    .sidebar-bar-button {
      flex-grow: 1;

      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
}

.sidebar-drag {
  $width: 10px;

  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: $width;
  background-color: var(--black);
  cursor: ew-resize;
  opacity: 0;
  transition: all ease 0.3s;

  &:hover,
  &:active {
    opacity: 0.2;
  }
}

.window-content {
  width: var(--window-content-width);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 600px) {
  .container {
    min-height: unset;
    min-width: unset;
    max-height: unset;
    min-width: unset;
    border: 0;
    border-radius: 0;
  }

  .sidebar {
    position: absolute;
    left: -100%;
    z-index: 1000;
    height: var(--full-height);
    transition: all ease 0.3s;
    box-shadow: none;
  }

  .sidebar-show {
    left: 0;
  }

  .mobile {
    display: block;
  }
}

.sidebar-header {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}

.sidebar-logo {
  position: absolute;
  right: 0;
  bottom: 18px;
}

.sidebar-title {
  font-size: 20px;
  font-weight: bold;
  animation: slide-in ease 0.3s;
}

.sidebar-sub-title {
  font-size: 12px;
  font-weight: 400;
  animation: slide-in ease 0.3s;
}

.sidebar-body {
  flex: 1;
  overflow: auto;
  overflow-x: hidden;
}

.chat-item {
  padding: 10px 14px;
  background-color: var(--white);
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: var(--card-shadow);
  transition: background-color 0.3s ease;
  cursor: pointer;
  user-select: none;
  border: 2px solid transparent;
  position: relative;
}

.chat-item:hover {
  background-color: var(--hover-color);
}
.chat-item-group {
  border-color: rgb(168, 176, 82);
}

.chat-item-selected {
  border-color: var(--primary);
}

.chat-item-title {
  font-size: 14px;
  font-weight: bolder;
  display: block;
  width: calc(100% - 15px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  animation: slide-in ease 0.3s;
}

.chat-item-delete {
  position: absolute;
  top: 10px;
  right: 0;
  transition: all ease 0.3s;
  opacity: 0;
  cursor: pointer;
}

.chat-item:hover > .chat-item-delete {
  opacity: 0.5;
  transform: translateX(-10px);
}

.chat-item:hover > .chat-item-delete:hover {
  opacity: 1;
}

.chat-item-info {
  display: flex;
  justify-content: space-between;
  color: rgb(166, 166, 166);
  font-size: 12px;
  margin-top: 8px;
  animation: slide-in ease 0.3s;
}

.chat-item-count,
.chat-item-date {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.narrow-sidebar {
  .sidebar-title,
  .sidebar-sub-title {
    display: none;
  }
  .sidebar-logo {
    position: relative;
    display: flex;
    justify-content: center;
  }

  .sidebar-header-bar {
    flex-direction: column;

    .sidebar-bar-button {
      &:not(:last-child) {
        margin-right: 0;
        margin-bottom: 10px;
      }
    }
  }

  .chat-item {
    padding: 0;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease 0.3s;
    overflow: hidden;

    &:hover {
      .chat-item-narrow {
        transform: scale(0.7) translateX(-50%);
      }
    }
  }

  .chat-item-narrow {
    line-height: 0;
    font-weight: lighter;
    color: var(--black);
    transform: translateX(0);
    transition: all ease 0.3s;
    padding: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .chat-item-avatar {
      display: flex;
      justify-content: center;
      opacity: 0.2;
      position: absolute;
      transform: scale(4);
    }

    .chat-item-narrow-count {
      font-size: 24px;
      font-weight: bolder;
      text-align: center;
      color: var(--primary);
      opacity: 0.6;
    }
  }

  .chat-item-delete {
    top: 15px;
  }

  .chat-item:hover > .chat-item-delete {
    opacity: 0.5;
    right: 5px;
  }

  .sidebar-tail {
    flex-direction: column-reverse;
    align-items: center;

    .sidebar-actions {
      flex-direction: column-reverse;
      align-items: center;

      .sidebar-action {
        margin-right: 0;
        margin-top: 15px;
      }
    }
  }
}

.sidebar-tail {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.sidebar-actions {
  display: inline-flex;
}

.sidebar-action:not(:last-child) {
  margin-right: 15px;
}

.chat {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
}

.chat-body {
  flex: 1;
  overflow: auto;
  padding: 20px;
  padding-bottom: 40px;
  position: relative;
  overscroll-behavior: none;
}

.chat-body-title {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.chat-message {
  display: flex;
  flex-direction: row;

  &:last-child {
    animation: slide-in ease 0.3s;
  }
}

.chat-message-user {
  display: flex;
  flex-direction: row-reverse;
}

.chat-message-container {
  max-width: var(--message-max-width);
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &:hover {
    .chat-message-top-actions {
      opacity: 1;
      transform: translateX(10px);
      pointer-events: all;
    }
  }
}

.chat-message-user > .chat-message-container {
  align-items: flex-end;
}

.chat-message-avatar {
  margin-top: 20px;
}

.chat-message-status {
  font-size: 12px;
  color: #aaa;
  line-height: 1.5;
  margin-top: 5px;
}

.chat-message-item {
  box-sizing: border-box;
  max-width: 100%;
  margin-top: 10px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 10px;
  font-size: 14px;
  user-select: text;
  word-break: break-word;
  border: var(--border-in-light);
  position: relative;
}

.chat-message-top-actions {
  min-width: 120px;
  font-size: 12px;
  position: absolute;
  right: 20px;
  top: -26px;
  left: 30px;
  transition: all ease 0.3s;
  opacity: 0;
  pointer-events: none;

  display: flex;
  flex-direction: row-reverse;

  .chat-message-top-action {
    opacity: 0.5;
    color: var(--black);
    white-space: nowrap;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }

    &:not(:first-child) {
      margin-right: 10px;
    }
  }
}

.chat-message-user > .chat-message-container > .chat-message-item {
  background-color: var(--second);
}

.chat-message-actions {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  padding-top: 5px;
  box-sizing: border-box;
  font-size: 12px;
}

.chat-message-action-date {
  color: #aaa;
}

.chat-input-panel {
  position: relative;
  width: 100%;
  padding: 20px;
  padding-top: 10px;
  box-sizing: border-box;
  flex-direction: column;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top: var(--border-in-light);
  box-shadow: var(--card-shadow);
}

@mixin single-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.prompt-hints {
  min-height: 20px;
  width: 100%;
  max-height: 50vh;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;

  background-color: var(--white);
  border: var(--border-in-light);
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: var(--shadow);

  .prompt-hint {
    color: var(--black);
    padding: 6px 10px;
    animation: slide-in ease 0.3s;
    cursor: pointer;
    transition: all ease 0.3s;
    border: transparent 1px solid;
    margin: 4px;
    border-radius: 8px;

    &:not(:last-child) {
      margin-top: 0;
    }

    .hint-title {
      font-size: 12px;
      font-weight: bolder;

      @include single-line();
    }
    .hint-content {
      font-size: 12px;

      @include single-line();
    }

    &-selected,
    &:hover {
      border-color: var(--primary);
    }
  }
}

.chat-input-panel-inner {
  display: flex;
  flex: 1;
}

.chat-input {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  border: var(--border-in-light);
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.03);
  background-color: var(--white);
  color: var(--black);
  font-family: inherit;
  padding: 10px 90px 10px 14px;
  resize: none;
  outline: none;
}

.chat-input:focus {
  border: 1px solid var(--primary);
}

.chat-input-send {
  background-color: var(--primary);
  color: white;

  position: absolute;
  right: 30px;
  bottom: 32px;
}

@media only screen and (max-width: 600px) {
  .chat-input {
    font-size: 16px;
  }

  .chat-input-send {
    bottom: 30px;
  }
}

.loading-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}




.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.header {
  width: auto;
}

.header p {
  text-align: center;
}

.cloudform {
  position: relative;
}

.textarea {
  position: relative;
  resize: none;
  font-size: 1.1rem;
  padding: 1rem 2rem 1rem 2rem;
  width: 75vw;
  border-radius: 0.5rem;
  border: 1px solid #d9d9e3;
  background: #ffffff;
  color: #000;
  outline: none;
}

.textarea:disabled {
  opacity: 0.5;
}

.textarea:focus {
  outline: none;
  border-color: #6b7280;
  box-shadow: 0 0 0 3px rgba(156, 163, 175, 0.5);
}

.textarea::placeholder {
  color: #6b7280;
}

.generatebutton {
  position: absolute;
  top: 0.87rem;
  right: 1rem;
  color: rgb(165, 162, 162);
  background: none;
  padding: 0.3rem;
  border: none;
  display: flex;
}

.loadingwheel {
  position: absolute;
  top: 0.2rem;
  right: 0.25rem;
}

.svgicon {
  transform: rotate(90deg);
  width: 1.2em;
  height: 1.2em;
  fill: currentColor;
}

.generatebutton:hover {
  background: #e4575726;
  border-radius: 0.2rem;
}

.generatebutton:disabled {
  opacity: 0.9;
  cursor: not-allowed;
  background: none;
}

.messagelist {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  border-radius: 0.5rem;
}

.messagelistloading {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 1rem;
}

.usermessage {
  background: #ffffff;
  padding: 1.5rem;
  color: #000;
}

.usermessagewaiting {
  padding: 1.5rem;
  color: #000;
  background: linear-gradient(to left, #07080938, #1a1c2024, #07080936);
  background-size: 200% 200%;
  background-position: -100% 0;
  animation: loading-gradient 2s ease-in-out infinite;
  animation-direction: alternate;
  animation-name: loading-gradient;
}

@keyframes loading-gradient {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.apimessage {
  background: #f9fafb;
  padding: 1.5rem;
  color: #000;
  animation: fadein 0.5s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.apimessage,
.usermessage,
.usermessagewaiting {
  display: flex;
}

.markdownanswer {
  line-height: 1.75;
}

.markdownanswer a:hover {
  opacity: 0.8;
}

.markdownanswer a {
  color: #b13a3a;
  font-weight: 500;
}

.markdownanswer code {
  color: #15cb19;
  font-weight: 500;
  white-space: pre-wrap !important;
}

.markdownanswer ol,
.markdownanswer ul {
  margin: 1rem;
}

.boticon,
.usericon {
  margin-right: 1rem;
  border-radius: 0.1rem;
  height: 100%;
}

.markdownanswer h1,
.markdownanswer h2,
.markdownanswer h3 {
  font-size: inherit;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 1rem 0;
  flex-direction: column;
}

.cloud {
  width: 75vw;
  height: 65vh;
  background: #ffffff;
  border-radius: 0.5rem;
  border: 1px solid #d9d9e3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pointsnormal {
  width: 90%;
  height: 90%;
}

.pointsdim {
  width: 90%;
  height: 90%;
  opacity: 0.25;
}

.footer {
  color: #5f6368;
  font-size: 0.8rem;
  margin: 1.5rem;
}

.footer a {
  font-weight: 500;
  color: #7a7d81;
}

.footer a:hover {
  opacity: 0.8;
}

/* Mobile optimization */
@media (max-width: 600px) {
  .main {
    padding: 1rem;
    max-height: 90vh;
  }

  .cloud {
    width: 2200rem;
    height: 2800rem;
    position: relative;
  }




  .textarea {
    width: 22rem;
  }
  .topnav {
    border: 1px solid black;
    align-items: center;
    padding: 0.85rem 0.75rem 0.85rem 0.75rem;
  }

  .navlogo {
    font-size: 1.25rem;
    width: 20rem;
  }

  .markdownanswer code {
    white-space: pre-wrap !important;
  }

  .footer {
    font-size: 0.7rem;
    width: 100%;
    text-align: center;
  }
}

