.plugin-title {
  font-weight: bolder;
  font-size: 16px;
  margin: 10px 0;
}
.plugin-content {
  font-size: 14px;
  font-family: inherit;
  pre code {
    max-height: 240px;
    overflow-y: auto;
    white-space: pre-wrap;
    min-width: 280px;
  }
}

.plugin-schema {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;

  input {
    margin-right: 20px;

    @media screen and (max-width: 600px) {
        margin-right: 0px;
      }
  }

  @media screen and (max-width: 600px) {
    flex-direction: column;
    gap: 5px;

    button {
      padding: 10px;
    }
  }
}
