.register-page {
  background:var(--color-prettylights-syntax-brackethighlighter-angle) ;
  display: flex;
  //justify-content: center;
  align-items: center;
  padding-top: 100px;
  height: 100%;
  width: 100%;
  flex-direction: column;

  .register-logo {
    transform: scale(1.4);
  }

  .register-title {
    color: var(--white);
    font-size: 24px;
    font-weight: bold;
    line-height: 2;
    margin-bottom: 30px;
  }

  .register-tips {
    font-size: 14px;
  }

  .register-input {
    margin: 10px 0;
    width: 250px;
  }

  .register-actions {
    width: 250px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .register-button {
    width:100%;
  }
}
