$accent-color: #ff7a7a;
$primary-color: #333333;
$secondary-color: #ff7a7a;
$border-in-light: 1px solid rgba(0, 0, 0, 0.1);
$card-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
$transition-duration: 0.3s;
$ease-transition: cubic-bezier(0.25, 0.1, 0.25, 1);

//background: linear-gradient(155deg, $primary-color 70%, $secondary-color 30%);


.settings {
  padding: 20px;
  overflow: auto;
  background: #333333;
  background: linear-gradient(135deg, rgba(51,51,51,1) 50%, rgba(2,2,2,1) 100%);
  color: white;
}

.avatar {
  cursor: pointer;
}

.edit-prompt-modal {
  display: flex;
  flex-direction: column;

  .edit-prompt-title {
    max-width: unset;
    margin-bottom: 20px;
    text-align: left;
  }
  .edit-prompt-content {
    max-width: unset;
  }
}

.user-prompt-modal {
  min-height: 40vh;

  .user-prompt-search {
    width: 100%;
    max-width: 100%;
    margin-bottom: 10px;
    background-color: var(--gray);
  }

  .user-prompt-list {
    border: var(--border-in-light);
    border-radius: 0px;

    .user-prompt-item {
      display: flex;
      justify-content: space-between;
      padding: 10px;

      &:not(:last-child) {
        border-bottom: var(--border-in-light);
      }

      .user-prompt-header {
        max-width: calc(100% - 100px);

        .user-prompt-title {
          font-size: 14px;
          line-height: 2;
          font-weight: bold;
        }
        .user-prompt-content {
          font-size: 12px;
        }
      }

      .user-prompt-buttons {
        display: flex;
        align-items: center;
        column-gap: 2px;

        .user-prompt-button {
          //height: 100%;
          padding: 7px;
        }
      }
    }
  }
}
