.settings {
  padding: 20px;
  overflow: auto;
}

.avatar {
  cursor: pointer;
}

.edit-prompt-modal {
  display: flex;
  flex-direction: column;

  .edit-prompt-title {
    max-width: unset;
    margin-bottom: 20px;
    text-align: left;
  }
  .edit-prompt-content {
    max-width: unset;
  }
}

.user-prompt-modal {
  min-height: 40vh;

  .user-prompt-search {
    width: 100%;
    max-width: 100%;
    margin-bottom: 10px;
    background-color: var(--gray);
  }

  .user-prompt-list {
    border: var(--border-in-light);
    border-radius: 10px;

    .user-prompt-item {
      display: flex;
      justify-content: space-between;
      padding: 10px;

      &:not(:last-child) {
        border-bottom: var(--border-in-light);
      }

      .user-prompt-header {
        max-width: calc(100% - 100px);

        .user-prompt-title {
          font-size: 14px;
          line-height: 2;
          font-weight: bold;
        }
        .user-prompt-content {
          font-size: 12px;
        }
      }

      .user-prompt-buttons {
        display: flex;
        align-items: center;

        .user-prompt-button {
          height: 100%;

          &:not(:last-child) {
            margin-right: 5px;
          }
        }
      }
    }
  }

  .user-prompt-actions {
  }
}
