.home_sidebar-body__9zbei {
  // custom style list chat
  max-height: 45%;
}

.custom-style-web-stream {
  // add style : stream
  margin-top: 10px;
  width: 100%;
  height: 30%;
  overflow: hidden;
}
.cam-stream {
  position: relative;
  width: 100%;
  height: 100%;
}
.cam-stream video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 4%;
}
