.home_sidebar-body__9zbei {
  // custom style list chat
  max-height: 45%;
}

.custom-style-web-stream {
  // add style : stream
  margin-top: 5px;
  width: 250px;
  height: 150px;
  border: 3px solid red;
  display: flex;
  color: black;
}
