.stream-sidebar {
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cam-stream video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#fb-login-button {
  background-color: #3b5998; /* Facebook blue */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

#fb-login-button:hover {
  background-color: #2d4373; /* Darker Facebook blue on hover */
}
// screen pc
@media only screen and (min-width: 600px) {
  .stream-sidebar {
  }
  .cam-stream {
    width: 100%;
    background-color: black;
  }
  .chatwithme {
    display: none;
  }
  .stream-chat {
    display: none;
  }
}
// screen moibile
@media only screen and (max-width: 600px) {
  .stream-sidebar {
    width: 100%;
  }
  .cam-stream {
    height: 100%;
  }
  .cam-stream video {
    height: 100%;
  }
  .chatwithme {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
  }
  .chatwithme .icon {
    width: 20%;
    height: 100%;
  }
  .chat {
    margin-top: 10%;
    height: 90%;
  }
  .stream-chat {
    display: block;
    height: 20%;
    .cam-stream video {
      height: 100%;
      border-radius: 2%;
    }
  }
}
