@import "../../components/window.scss";

.empty {
  width: 100%;
  height: 100%;
  position: relative;

  .content-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 3.5rem;

    .emoji {
      font-size: 6rem;
    }
    .text {
      font-size: 2rem;
      text-align: center;
    }
  }
}

.results {
  width: 100%;
  height: 100dvh;
  box-sizing: border-box;
  padding: 2rem;
  overflow: auto;
}
