@import "../../components/window.scss";

.right-pane {
  background-color: var(--white);
}

.chat-body {
  flex: 1 1;
  overflow: auto;
  overflow-x: hidden;
  padding: 20px;
  padding-bottom: 40px;
  position: relative;
  overscroll-behavior: none;

  padding: 1rem 3rem;
}

@media only screen and (max-width: 600px) {
  .chat-body-title {
    text-align: center;
  }
}
