.input-list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.label-input {
  padding-right: 6px;
}

@mixin sharedStyle {
  font-size: 1rem;

  border: 0.5px solid white;
  padding: 1rem;

  height: 48px;

  color: black;
  background-color: white;
}

input[type="text"].input {
  @include sharedStyle();

  width: 100%;

  border-radius: 10px 0 0 10px;

  text-align: left;

  background-color: white;
  color: black;
}

.button-remove {
  @include sharedStyle();

  border-radius: 0 10px 10px 0;
}
