name: Docker Build and Push

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4  # 更新到 v4
    
    - name: Log in to Docker Hub
      uses: docker/login-action@v3  # 更新到 v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
        
    - name: Build and push Docker image
      uses: docker/build-push-action@v5  # 更新到 v5
      with:
        push: true
        tags: mos98/ok_moss_best:latest
